modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["google-mail:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 19035
externalPort = 3002

[[ports]]
localPort = 19827
externalPort = 3001

[[ports]]
localPort = 24804
externalPort = 8099

[[ports]]
localPort = 25097
externalPort = 8080

[[ports]]
localPort = 26086
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BA2KZqT2nBVq-1rh-ZGK319BYAo-SKBOCjKzIEDcGMXQzi-ZCTo_FPCrm8QeRLdQSkgcdS9y0Mor6hSpw5rb5DA"
VAPID_EMAIL = "mailto:admin@trakcoach.app"
VAPID_PRIVATE_KEY = "fcCn54MQP65uvYfN6flYD8a3uuqAFAiaYn4MAq9quWg"
VITE_VAPID_PUBLIC_KEY = "BA2KZqT2nBVq-1rh-ZGK319BYAo-SKBOCjKzIEDcGMXQzi-ZCTo_FPCrm8QeRLdQSkgcdS9y0Mor6hSpw5rb5DA"
